:host {

}

.element-label {
    font-size: 10px;
    line-height: 14px;
    color: white;
    background-color: green;
    height: 14px;
    padding: 2px 4px;

    float: left;
    white-space: nowrap;

    transform: translateY(100%);
}